{% extends 'layout/base_bootstrap.html' %}

{% block titulo %}
    {{ titulo }}
{% endblock titulo %}

{% block content %}
    <h1>{{ titulo }}</h1>
    <a href="" class="btn btn-primary">Nuevo Empleado</a>
    <br><br>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Sueldo</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            {% for e in lista %}
                <tr>
                    <td>{{ e.id }}</td>
                    <td>{{ e.nombre }}</td>
                    <td>{{ e.correo }}</td>
                    <td>{{ e.sueldo }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}