<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consumo API</title>
</head>
<body>
    <div id="contenido"></div>
    <script>
        var requestOptions = {
            method: 'GET',
            redirect: 'follow'
        };
    
        fetch("https://api.binance.com/api/v3/ticker/price", requestOptions)
            .then(response => response.text())
            .then(result => {
                document.getElementById('contenido').innerHTML = result
                console.log(result)
                })
            .catch(error => console.log('error', error));
    </script>
</body>

</html>